---
title: Start Charlotte- Meet SierraMaya360
layout: event
---

<!-- JUMBOTRON -->
<section class="jumbotron">
	<div class="center" data-animated="fadeInUp">
		<div class="jumbotron_text">
			<h2 class="color_text">StartCLT Kickoff</h2>
			<p>Welcome SEVC</p>
		</div>
	</div>
</section><!-- //JUMBOTRON -->

				
<section class="padtop0">
	<h2 class="title center"><span>Introducing StartCLT</span></h2>

	<div class="bs-callout bs-callout-warning" id="jquery-required">
		<h4>The Basics:</h4>
		<div class="row">
			<div class="col-lg-6 col-md-6">		
				<dl>
					<dt>What:</dt>
					<dd>StartCLT's first offical event</dd>
					<dt>When:</dt>
					<dd>April Something</dd>
					<dt>Where:</dt>
					<dd>Dilworth Neighborhood Bar and Grill (DNG)</a></dd>
					<dt>Why:</dt>
					<dd>Free Stuff</dd>
				</dl>
				<p>Space will be limited, so RSVP. Make sure not to miss out.</p>
			</div>		
		 </div>
	   </div>
     </div>
    </section>


<section class="padtop0 team_block margbot65">
	<h2 class="center">The Managing Partners</h2>
	<div class="row">
		<div class="col-lg-3 col-sm-6 col-xs-6 col-ss-12 padbot20 center crewman animated fadeIn" data-animated="fadeIn">
			<div class="crewman_foto"><img src="/images/sm360/amish.jpg" alt=""></div>
			<h3>Jim Van Fleet</h3>
			<p>Awesome.</p>
			<ul class="social">			
				<li class="icon1"><a href="http://twitter.com/bigfleet" alt=""></a></li>				
			</ul>
		</div>
		<div class="col-lg-3 col-sm-6 col-xs-6 col-ss-12 padbot20 center crewman animated fadeIn" data-animated="fadeIn">
			<div class="crewman_foto"><img src="/images/sm360/eric.jpg" alt=""></div>
			<h3>Juan</h3>

			<p>Fantastic.</p>
			
			<ul class="social">
				<li class="icon4"><a href="http://www.linkedin.com/pub/eric-kagan/1/373/93b" alt=""></a></li>				
				<li class="icon7"><a href="http://www.angel.co/eric-kgnhllc" alt=""></a></li>
				<li class="icon1"><a href="https://twitter.com/ekagan26" alt=""></a></li>
			</ul>
		</div>
		<div class="col-lg-3 col-sm-6 col-xs-6 col-ss-12 padbot20 center crewman animated fadeIn" data-animated="fadeIn">
			<div class="crewman_foto"><img src="/images/sm360/glen-howard.jpg" alt=""></div>
			<h3>Amy</h3>
			<p>She has a great personality.</p>
			<ul class="social">
				<li class="icon4"><a href="http://www.linkedin.com/pub/glen-howard/6/a40/66" alt=""></a></li>
				<li class="icon7"><a href="http://angel.co/glen-howard" alt=""></a></li>
				<li class="icon1"><a href="https://twitter.com/amyonrails" alt=""></a></li>				
			</ul>
		</div>
		<div class="col-lg-3 col-sm-6 col-xs-6 col-ss-12 padbot20 center crewman animated fadeIn" data-animated="fadeIn">
			<div class="crewman_foto"><img src="/images/sm360/tony-potts.jpg" alt=""></div>
			<h3>Terry Cox</h3>
			<p>Woman Behind the Curtain</p>
			<ul class="social">
				<li class="icon4"><a href="https://www.linkedin.com/in/tonypotts" alt=""></a></li>
				<li class="icon7"><a href="https://angel.co/tony-potts" alt=""></a></li>
				<li class="icon1"><a href="https://twitter.com/TonyPotts1" alt=""></a></li>
			</ul>
		</div>
	</div>
</section>
		
          <div class="pullout">
		<div class="container">
<a name="rsvp">
<script type="text/javascript" src="https://itsbspoke.formstack.com/forms/js.php?1940980-lxpGbPplKi-v3"></script><noscript><a href="https://itsbspoke.formstack.com/forms/startclt" title="Online Form">Online Form - StartCLT Kickoff</a></noscript>
     </div>
	</div>
<!-- Use %= to re-renable -->
<% partial "services" %>
<!-- //SERVICES -->

