---
title: Start Charlotte- RSVP For First Pitch
layout: home
---

				<!-- JUMBOTRON -->
				<section class="jumbotron">
					<div class="center" data-animated="fadeInUp">
						<div class="jumbotron_text">
							<h2 class="color_text">RSVP to First Pitch</h2>
							<p>Your monthly welcome mat to the entrepreneurial community in Charlotte.</p>
						</div>
					</div>
				</section><!-- //JUMBOTRON -->
				
				
				<!-- CONTENT SLIDER -->
				<div class="padbot50">
					<h2 class="title center"><span>RSVP</span></h2>
						<ul class="slides">
							<li class="row margbot65">
								<div class="col-lg-6 col-md-6">
<script type="text/javascript" src="http://itsbspoke.formstack.com/forms/js.php?nojquery=1&nojqueryui=1&form=1561821&viewkey=6HsEspBXJx&style_version=v3"></script><noscript><a href="http://itsbspoke.formstack.com/forms/pitchbreakfast" title="Online Form">Online Form - PitchBreakfast Application</a></noscript><div style="text-align:right; font-size:x-small;"><a href="http://www.formstack.com?utm_source=jsembed&utm_medium=product&utm_campaign=product+branding&fa=h,1561821" title="HTML Form Builder">HTML Form Builder</a></div><script type='text/javascript'>if (typeof $ == 'undefined' && jQuery){ $ = jQuery}</script>
								</div>
								<div class="col-lg-6 col-md-6">
									<h2>Apply to Pitch</h2>
									<p>The only requirement for First Pitch is a desire to share your idea publicly.</p>
									<a class="btn btn-active" href="/firstpitch/apply.html" alt="Pitch application">apply to pitch</a>
								</div>
							</li>
						</ul>

				</div><!-- CONTENT SLIDER -->
				