---
title: Start Charlotte- RSVP For First Pitch
layout: home
---

				<!-- JUMBOTRON -->
				<section class="jumbotron">
					<div class="center" data-animated="fadeInUp">
						<div class="jumbotron_text">
							<h2 class="color_text">RSVP to First Pitch</h2>
							<p>Your monthly welcome mat to the entrepreneurial community in Charlotte.</p>
						</div>
					</div>
				</section><!-- //JUMBOTRON -->
				
				
				<!-- CONTENT SLIDER -->
				<div class="padbot50">
					<h2 class="title center"><span>Our Events</span></h2>
						<ul class="slides">
							<li class="row margbot65">
								<div class="col-lg-6 col-md-6 col-sm-5">
									<img src="images/firstpitch.jpg" />
								</div>
								<div class="col-lg-6 col-md-6">
									<h2>First Pitch</h2>
<p>We've heard pitches from hundreds of entrepreneurs and startups in Charlotte.  The vast majority of them won't get very far, and that's OK!  It's what's supposed to happen.  Most entrepreneurs don't start with the experience, network, instincts, or drive they'll need to achieve their goals.  That's OK, too!  Creating a supportive community to help you develop everything you need to be a successful entrepreneur is in our DNA.</p>
<p>If you're at the very beginning of your entrepreneurial journey, there's no better place to start than First Pitch.  We cap RSVP's at a small number to help keep the event very approachable.  Our panelists are active entrepreneurs that have pitched at PitchBreakfast, been in an accelerator, or raised professional money.  RSVP to join us for our next event.  If you have a desire to pitch your idea, we would <strong>love</strong> for you to apply to pitch.</p>
									<a class="btn btn-active" href="" alt="">RSVP</a>
									<a class="btn btn-active" href="" alt="">Apply</a>
								</div>
							</li>
							<li class="row">
								<div class="col-lg-6 col-md-6 col-sm-5">
									<img src="images/excepapps.png" />
								</div>
								<div class="col-lg-6 col-md-6">
									<h2>PitchBreakfast</h2>
									<p>When we first raised the curtain on TechBreakfast CLT, we wanted to support entrepreneurs at that first step in their journey, knowing that some would be even farther along.  As time passed, Charlotte's accelerators matured and the maturity of our pitchsters increased along with it.  Now there's lights, cameras, and a livestream.  PitchBreakfast is the premier monthly pitch event in Charlotte, and we're very proud of it.</p>
									<a class="btn btn-active" href="http://www.pitchbreakfast.com/" alt="http://www.pitchbreakfast.com/">learn more</a>
								</div>
							</li>
						</ul>

				</div><!-- CONTENT SLIDER -->
				
				
				<!-- Use %= to re-renable -->
				<% partial "services" %>
				 <!-- //SERVICES -->

