---
title: Start Charlotte- RSVP For First Pitch
layout: home
active: events
---

				<!-- JUMBOTRON -->
				<section class="jumbotron">
					<div class="center" data-animated="fadeInUp">
						<div class="jumbotron_text">
							<h2 class="color_text">RSVP to First Pitch</h2>
							<p>Your monthly welcome mat to the entrepreneurial community in Charlotte.</p>
						</div>
					</div>
				</section><!-- //JUMBOTRON -->
				
				
				<!-- CONTENT SLIDER -->
				<div class="padbot50">
					<h2 class="title center"><span>RSVP</span></h2>
						<ul class="slides">
							<li class="row margbot65">
								<div class="col-lg-6 col-md-6">
<script type="text/javascript" src="http://itsbspoke.formstack.com/forms/js.php?nojquery=1&nojqueryui=1&form=1828600&viewkey=fF2xIws2gy&style_version=v3"></script><noscript><a href="http://itsbspoke.formstack.com/forms/firstpitch_rsvp" title="Online Form">Online Form - First Pitch RSVP</a></noscript><div style="text-align:right; font-size:x-small;"><a href="http://www.formstack.com?utm_source=jsembed&utm_medium=product&utm_campaign=product+branding&fa=h,1828600" title="Web Form Generator">Web Form Generator</a></div><script type='text/javascript'>if (typeof $ == 'undefined' && jQuery){ $ = jQuery}</script>
								</div>
								<div class="col-lg-6 col-md-6">
									<h2>Apply to Pitch</h2>
									<p>The only requirement for First Pitch is a desire to share your idea publicly.</p>
									<p>We are working on a less confusing application for First Pitch!  When you click on the below, look for the "First Pitch" checkbox option on the application form.</p>
									<a class="btn btn-active" href="http://www.pitchbreakfast.com/apply.html" alt="Pitch application">apply to pitch</a>
								</div>
							</li>
						</ul>

				</div><!-- CONTENT SLIDER -->
				