---
title: Start Charlotte- Industry Coworking
layout: home
---

<!-- JUMBOTRON -->
<section class="jumbotron">
	<div class="center" data-animated="fadeInUp">
		<div class="jumbotron_text">
			<h2 class="color_text">Industry Coworking</h2>
			<p>The flagship coworking location in Charlotte.</p>
		</div>
	</div>
</section><!-- //JUMBOTRON -->
				
<!-- HERO -->
<div id="hero" class="full_width margbot40">
	<img src="/images/industry-bg.png" />
</div><!-- //HERO -->				
				
<!-- CONTENT SLIDER -->
<div class="padbot40">
	<h2 class="title center"><span>Coworking</span></h2>
	<ul class="slides">
		<li class="row margbot65">
			<div class="col-lg-6 col-md-6">
				<h2>Hosting a creative community</h2>
				<p>At Start Charlotte, we love coworking and its conscientious proprietors.  <strong>Tyler Ford</strong> started telling the coworking story with his first location, Lightbulb Coworking on Mint Ave. in the South End.  Two moves later, Industry is now moving to the NC Music Factory into 10,000 sq.ft.</p>
				<p>We will have a full profile in time, but for now, most people need to know how to get there for the <a href="/events/sierra-maya-360-introduction.html">SierraMaya360 introduction.</a></p>
			</div>
		</li>
	</ul>

</div><!-- CONTENT SLIDER -->
				
				
<section class="projects_block padbot50 animated fadeInUp" data-animated="fadeInUp">
	<h2 class="title center"><span>Directions</span></h2>
	<h3 class="title center">1000 NC Music Factory Blvd, 28206</h3>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-12 margbot30">
			<div class="project_item">
				<div><img src="/images/industry-parking.jpg" alt=""></div>
				<div>
					<span><a href="https://www.google.com/maps/place/1000+North+Carolina+Music+Factory+Blvd,+Charlotte,+NC+28206">Google Maps</a> knows where it is.  Most of us will head north on Graham St. and take a left onto NC Music Factory Blvd.  Take the first parking you come to on the right, in parking lot #1.</span>
				</div>							
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 margbot30">
			<div class="project_item">
				<div><img src="/images/industry-directions.jpg" alt=""></div>
				<div>
					<span>As you exit your vehicle, continue walking in the direction you've been driving, past Label towards most of the buildings.  Angle towards the fountain after you pass the Mexican restaurant on your right.  The door you're looking for is under an OSSO sign at this writing.</span>
				</div>							
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 margbot30">
			<div class="project_item">
				<div><img src="/images/industry-door.jpg" alt=""></div>
				<div>
					<span>Industry is past two sets of double-doors.  In general, you need someone to let you in the second double doors, but if we're hosting the event, we'll have that covered for you.</span>
				</div>							
			</div>
		</div>

	</div>
</section>

