							<div class="contact_form top_form">
								<div id="note"></div>
								<div id="fields">
									<form id="ajax-contact-form" action="">
										<input class="input_wt" type="text" name="name" value="Name" onFocus="if (this.value == 'Name') this.value = '';" onBlur="if (this.value == '') this.value = 'Name';" />
										<input class="input_wt" type="text" name="email" value="Email" onFocus="if (this.value == 'Email') this.value = '';" onBlur="if (this.value == '') this.value = 'Email';" />
										<input class="input_wt last" type="text" name="subject" value="Subject" onFocus="if (this.value == 'Subject') this.value = '';" onBlur="if (this.value == '') this.value = 'Subject';" />
										<textarea class="input_wt" name="message" id="message" onFocus="if (this.value == 'Message') this.value = '';" onBlur="if (this.value == '') this.value = 'Message';">Message</textarea>
										<div class="clear"></div>
										<input class="btn btn-active" type="reset" value="Clear Form" />
										<input class="btn btn-default" type="submit" value="Send Message!" />
										<div class="clear"></div>
									</form>
								</div>
							</div><!-- //Contact Form -->