				<!-- FOOTER -->
				<footer class="full_width footer_block">
					<div class="row">
						<div class="col-lg-4 col-sm-4 padbot20">
							<h2>Get in touch</h2>
							<p>The best place to reach us is <a href="http://www.twitter.com/startclt">Twitter</a> but here
								are some other choices.</p>
							<ul class="contact_info">
								<li><span>Email:</span><a href="mailto:jim@startcharlotte.com" alt=""> jim@startcharlotte.com</a></li>
								<li><span>Phone:</span> +1 704 951 2585</li>
							</ul>
						</div>
						<div class="col-lg-4 col-sm-4">
							<h2>Events</h2>
							<div class="latest_news_item clearfix">
								<div class="news_content">
									<a class="recent_post_title" href="blog-post.html" alt="">First Pitch</a>
									<ul class="recent_post_inf">
										<li>Dec. 3, @809</li>
									</ul>
									<div class="recent_post_txt">Pitch practice for first-time entrepreneurs.</div>
								</div>
							</div>
							<div class="latest_news_item clearfix">
								<div class="news_content">
									<a class="recent_post_title" href="blog-post.html" alt="">PitchBreakfast</a>
									<ul class="recent_post_inf">
										<li>Dec. 10, Packard Place</li>
									</ul>
									<div class="recent_post_txt">December's PitchBreakfast panel features Garth Moulton and Lori Collins.  This pitch practice event is for more mature companies.</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-4">
							<h2>Twitter</h2>
							<a class="twitter-timeline" href="https://twitter.com/PitchBreakfast" data-widget-id="523232288826343424">Tweets by @PitchBreakfast</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
					</div>
				</footer><!-- //FOOTER -->