						
					<!-- MENU -->
					<div class="menu_block clearfix">
						
						<!-- LOGO -->
						<div class="logo">
							<a href="index.html" alt="Logo"><%= image_tag "logo.png", class: "main_logo" %></a>
						</div><!-- LOGO -->
						
						<!-- RESPONSIVE BUTTON MENU -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="glyphicon glyphicon-align-justify"></span>
							</button>
						</div><!-- //RESPONSIVE BUTTON MENU -->
						
						<div class="navbar-collapse collapse">
							<ul class="nav navbar-nav center">
								<li class="first active"><a href="/" title="">Home</a></li>
								<li class=""><a href="/newsletter.html" title="">Newsletter</a>

								</li>
								<li class="sub-menu menu_middle"><a href="javascript:void(0);" title="">Events</a>
									<ul>
										<li><a href="/firstpitch"><span>-</span>First Pitch</a></li>
										<li><a href="http://www.pitchbreakfast.com/"><span>-</span>PitchBreakfast</a></li>
									</ul>
								</li>
								<li class="sub-menu"><a href="javascript:void(0);" title="">Blog</a>
									<ul>
										<li><a href="javascript:void(0);"><span>-</span>Coming Soon!</a></li>
									</ul>
								</li>
								<li class="last"><a href="/contact.html" title="">Contact Us</a></li>
							</ul>
						</div>
					</div><!-- //MENU -->
