<section class="services_block">
					
					<!-- ROW -->
					<div class="row">
					
						<h2 class="title center"><span>Resources</span></h2>
						
						<div class="col-lg-4 col-md-4 col-sm-4 padbot30 service_item">
							<a href="javascript:void(0);" alt="">
								<i class="i1"></i>
								<p>fully responsive</p>
								<span>Ut leo nisi, dignissim eu viverra ut, condimentum vitae nulla. Donec scelerisque</span>
							</a>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 padbot30 service_item">
							<a href="javascript:void(0);" alt="">
								<i class="i2"></i>
								<p>dedicated support</p>
								<span>Cras sit amet mauris ut ipsum facilisis tincidunt ac non lectus. Ut tincidunt, dui</span>
							</a>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 padbot30 service_item">
							<a href="javascript:void(0);" alt="">
								<i class="i3"></i>
								<p>dedicated support</p>
								<span>Cras sit amet mauris ut ipsum facilisis tincidunt ac non lectus. Ut tincidunt, dui</span>
							</a>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 padbot30 service_item">
							<a href="javascript:void(0);" alt="">
								<i class="i4"></i>
								<p>unicque design</p>
								<span>Fusce accumsan scelerisque orci, id posuere nulla laoreet sed. Nam et nisl ut libero</span>
							</a>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 padbot30 service_item">
							<a href="javascript:void(0);" alt="">
								<i class="i5"></i>
								<p>Unique flat design</p>
								<span>Integer magna enim, aliquet eget orci id, pulvinar pretium nulla. Mauris eget diam</span>
							</a>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 padbot30 service_item">
							<a href="javascript:void(0);" alt="">
								<i class="i6"></i>
								<p>flat design</p>
								<span>Integer magna enim, aliquet eget orci id, pulvinar pretium nulla. Mauris eget diam</span>
							</a>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 padbot30 service_item">
							<a href="javascript:void(0);" alt="">
								<i class="i7"></i>
								<p>brand & identity</p>
								<span>Nam et nisl ut libero tincidunt dapibus et tempor sem. Mauris et mauris sit amet leo</span>
							</a>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 padbot30 service_item">
							<a href="javascript:void(0);" alt="">
								<i class="i8"></i>
								<p>Innovative Design</p>
								<span>Mauris eget diam iaculis erat ultricies interdum sed nec enim. Duis sed diam est.</span>
							</a>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 padbot30 service_item">
							<a href="javascript:void(0);" alt="">
								<i class="i9"></i>
								<p>Innovative Design</p>
								<span>Mauris eget diam iaculis erat ultricies interdum sed nec enim. Duis sed diam est.</span>
							</a>
						</div>
					</div><!-- //ROW -->
				</section> -->