---
title: Start Charlotte- Contact Us
layout: home
---
				<!-- BREADCRUMBS -->
				<section class="full_width breadcrumbs_block clearfix">
					<div class="breadcrumbs_content">
						<h2 class="pull-left">Get In Touch</h2>
						<ol class="pull-right breadcrumb">
							<li><a href="index.html">Home</a></li>
							<li><a href="javascript:void(0);">Contacts</a></li>
						</ol>
					</div>
					<div class="overlay"></div>
					<div class="overlay_black"></div>
				</section><!-- //BREADCRUMBS -->
				
				<!-- Contact Info -->
				<section class="contacts_block">
					<!-- Map -->
					<div id="map" class="full_width"><iframe width="100%" height="240" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&give a hand=s_q&hl=en&geocode=&q=charlotte,nc&output=embed"></iframe></div><!-- //Map -->
					<div class="row">
						<div class="col-lg-7 col-sm-7 padbot20" data-animated="fadeIn">
							<h2>Get in Touch</h2>
							<!-- Contact Form -->
							<% partial "contact_us" %>
							<p>Coming soon.</p>
						</div>
						<div class="col-lg-5 col-sm-5 padbot20" data-animated="fadeIn">
							<h2>Contact Us</h2>
							<!-- Contact Info -->
							<ul class="list4 contacts_info">
								<li><b class="glyphicon glyphicon-ok"></b><span>No fixed address</span></li>
								<li><b class="glyphicon glyphicon-ok"></b><span><a href="mailto:jim@startcharlotte.com" alt="">jim@startcharlotte.com</a></span></li>
								<li><b class="glyphicon glyphicon-ok"></b><span><a href="http://twitter.com/startclt" alt="">Twitter</a></span></li>
								<li><b class="glyphicon glyphicon-ok"></b><span>+1 704 951 7829</span></li>

								<li><b class="glyphicon glyphicon-ok"></b><span><a href="https://www.linkedin.com/company/start-charlotte-llc">LinkedIn</a></span></li>
							</ul><!-- //Contact Info -->
						</div>
					</div>
				</section><!-- //Contacts Info -->