---
title: Start Charlotte- Start Something
layout: home
---

				<!-- JUMBOTRON -->
				<section class="jumbotron">
					<div class="center" data-animated="fadeInUp">
						<div class="jumbotron_text">
							<h2 class="color_text">Start Something!</h2>
							<p>The home of Charlotte's grass-roots creative community.</p>
						</div>
					</div>
				</section><!-- //JUMBOTRON -->
				
				<!-- HERO -->
				<div id="hero" class="full_width margbot65">
					<img src="images/cropped-sclt.png" />
				</div><!-- //HERO -->
				
				<!-- CONTENT SLIDER -->
				<div class="padbot50">
					<h2 class="title center"><span>Our Events</span></h2>
						<ul class="slides">
							<li class="row margbot65">
								<div class="col-lg-6 col-md-6 col-sm-5">
									<img src="images/excepapps.png" />
								</div>
								<div class="col-lg-6 col-md-6">
									<h2>PitchBreakfast</h2>
									<p>When we first raised the curtain on TechBreakfast CLT, we wanted to support entrepreneurs at that first step in their journey, knowing that some would be even farther along.  As time passed, Charlotte's accelerators matured and the maturity of our pitchsters increased along with it.  Now there's lights, cameras, and a livestream.  PitchBreakfast is the premier monthly pitch event in Charlotte, and we're very proud of it.</p>
									<a class="btn btn-active" href="http://www.pitchbreakfast.com/" alt="http://www.pitchbreakfast.com/">learn more</a>
								</div>
							</li>
						</ul>
						<h2><center>More coming soon!</center></h2>
				</div><!-- CONTENT SLIDER -->
				
				
				<!-- Use %= to re-renable -->
				<% partial "services" %>
				 <!-- //SERVICES -->

